.AvatarMenu {
    .dropdown {
        > button {
            padding: 0px;
            height: 55px;
            width: 55px;
            padding: 4px;
            background-color: transparent;
            border-color: transparent;
            border: 0px;
            &:focus {
                box-shadow: none;
                border: 0px;
            }
            &:hover {
                background-color: transparent;
                border-color: transparent;
                border: 0px;
            }
            &:active {
                background-color: transparent !important;
                border-color: transparent !important;
                box-shadow: none !important;
                border: 0px;
            }
            img {
                height: 100%;
            }
        }
    }
}
