.AlertItem {
    border-bottom: 1px solid $gray-200;
    .item-left {
        color: $info;
        .avatar {
            border: 2px solid $gray-300;
        }
    }
    .item-center {
        .item-sender-detail {
            .sender {
                color: $info;
                font-style: italic;
            }
            .date {
                color: $info;
                font-style: italic;
            }
        }
        .item-title {
            color: $gray-700;
        }
        .item-description {
            color: $gray-600;
            font-style: italic;
        }
    }
}
