@import "./topbar";
@import "./left-menu";
@import "./main-column";
@import "./right-menu";

.app-content {
    > .page-error {
        .card-error {
            background: $white;
            box-shadow: 2px 2px 2px $gray-300;
        }
    }

    > .TopBar {
        background: $white;
        box-shadow: 2px 0px 3px $gray-800;
    }

    > .LeftMenu {
        background: $gray-800;
        box-shadow: 0px 2px 3px $gray-800;
    }
    > .RightMenu {
        background: $white;
        border-left: 1px solid $gray-200;
    }
    > .PageContainer {
        background: $gray-100;
    }

    > .application-backdrop {
        background: $gray-600;
    }
}
